<!DOCTYPE html>
<html>
<head>
  <title>Trackfit</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src=" http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
  <script src=" http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>

<%= yield %>

</body>
</html>
